// utilities
@use "utilities/variables";
@use "utilities/colors";
@use "utilities/mixins";

// base
@use "base/reset";
@use "base/typography";

// components
@use "comonents/grid";
@use "comonents/buttons";

// layout
@use "layout/container";
@use "layout/head";
@use "layout/header";
@use "layout/navigation";
@use "layout/hero";
@use "layout/features";
@use "layout/footer";

// 460px   28.75em  small phones
// 704px   44em     large phones
// 944px   59em     tablets
// 1200px  75em     tablet landscape
// 1600px  100em    large desktop

$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--tesktop: 1400px;
$media--large-desktop: 100em;

/*

 @media(min-width: $media--small-phones) {
  
 }


  @media(min-width: $media--large-phones) {
  
 }


  @media(min-width: $media--tablet) {
  
 }


  @media(min-width: $media--tablet-landscape) {
  
 }


  @media(min-width: $media--tesktop) {
  
 }

 
  @media(min-width: $media--large-desktop) {
  
 }
 */
