$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--tesktop: 1400px;
$media--large-desktop: 100em;
$media--very-large-desktop: 115em;

// fixing feature image making body too wide
html {
  @media (min-width: $media--tablet-landscape) {
    width: 100vw;
    overflow-x: hidden;
  }
}

.section-features {
  text-align: center;
  position: relative;
}
// .section-features--first {
//   @media (min-width: $media--tablet-landscape) {
//     overflow-x: hidden;
//     overflow-y: visible;
//   }
// }

.section-features--second {
  @media (min-width: $media--tablet-landscape) {
    margin-bottom: 22.5rem;
  }
}

.features__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__img img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  // transform: translateX(-40px);
}

.feature {
  &__text {
    font-family: var(--font-family-overpass);
    font-weight: 300;
    font-size: 1.7rem;
    color: var(--color-neutral-body-copy);
    line-height: 1.64;
    margin-left: 0.4rem;

    @media (min-width: $media--tablet-landscape) {
      margin-left: 0;
    }
  }

  @media (min-width: $media--tablet-landscape) {
    text-align: left;
    margin-bottom: 7.7rem;
  }
}

.features__content--1 {
  @media (min-width: $media--tablet-landscape) {
    grid-column: 1;
    grid-row: 1;
  }
}

.features__img {
  @media (min-width: $media--tablet-landscape) {
    opacity: 0;
    visibility: hidden;
  }
}

.features__content--2 {
  @media (min-width: $media--tablet-landscape) {
    transform: translateX(-0.5rem);
  }
}

// *******************
// FEATURES SIDE IMAGES
// ********************

.features__img-desktop {
  display: none;
  position: absolute;

  @media (min-width: $media--tablet-landscape) {
    display: inline-block;
  }
}

.features__img-desktop--editor {
  top: -8.4rem;
  right: -27.3rem;
  width: 92.4rem;
}

.features__img-desktop--laptop {
  top: -15.2rem;
  left: -27.8rem;
  width: 97.4rem;

  @media (min-width: $media--large-desktop) {
    left: -27.1rem;
  }
}

// *******************
// FEATURES SPEED
// ********************

.feature-speed {
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  text-align: center;
  margin-top: 26.8rem;
  margin-bottom: 6.4rem;

  // margin-top: -10rem;
  background-image: var(--color-gradiant-blue);
  // background-position: -40% -1000%;

  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  @media (min-width: $media--tablet-landscape) {
    margin-top: 17.8rem;
    margin-bottom: 26.5rem;
  }

  .background--speed {
    background-image: url("../../images/bg-pattern-circles.svg");
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background-position-x: center;
    background-position-y: -26rem;
    background-size: 160%;
    background-repeat: no-repeat;

    @media (min-width: $media--small-phones) {
      background-position-y: -50.5rem;
      background-size: 70%;
      background-position-x: -49%;
    }
    @media (min-width: $media--large-desktop) {
      background-position-y: -53.5rem;
      background-size: 63%;
      background-position-x: -38%;
    }

    @media (min-width: $media--very-large-desktop) {
      background-position-y: -56.5rem;
      background-size: 57%;
      background-position-x: -28%;
    }
  }
  .heading {
    color: var(--color-neutral-white);
    margin-top: 22.6rem;
    font-size: 3.8rem;
    line-height: 1.3;
    margin-left: 0;
    letter-spacing: -0.5px;

    @media (min-width: $media--tablet-landscape) {
      margin-top: 11.6rem;
      font-size: 3.8rem;
      margin-bottom: 1.6rem;
    }
  }

  .feature__text {
    color: var(--color-neutral-white);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 0 0.6rem;
    padding-bottom: 11rem;
    margin-left: 0;
    letter-spacing: 0.5px;

    @media (min-width: $media--tablet-landscape) {
      padding: 0;
    }
  }

  .feature {
    @media (min-width: $media--tablet-landscape) {
      transform: translateX(-0.5rem);
      margin-bottom: 10.2rem;
    }
  }
}

.speed__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed__img img {
  width: 37rem;
  height: auto;
  display: inline-block;
  position: absolute;
  top: -30%;

  @media (min-width: $media--tablet-landscape) {
    width: auto;
    top: -7rem;
    transform: translateX(-3.2rem);
  }
  @media (min-width: $media--large-desktop) {
    transform: translateX(-10.2rem);
  }
}
