$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--tesktop: 1400px;
$media--large-desktop: 100em;

.footer {
  background-color: var(--color-neutral-background--footer);
  border-top-right-radius: 10rem;
  color: var(--color-neutral-white);
  margin-top: 9.4rem;
  padding-bottom: 3.3rem;
  padding-top: 8rem;

  .container {
    padding: 0 2.4rem;
    @media (min-width: $media--tablet) {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 4rem;
    }

    @media (min-width: $media--tablet-landscape) {
      max-width: 120rem;
    }
  }

  .logo {
    text-align: center;
    margin-top: 7.5rem;
    margin-bottom: 4.6rem;

    @media (min-width: $media--tablet-landscape) {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }

    img {
      height: 4rem;
      width: auto;

      @media (min-width: $media--tablet-landscape) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

// *****************
// FOOTER NAVIGATION
// *****************
.nav--footer {
  .nav__list {
    margin: 0;
    padding-top: 0;
    gap: 4rem;
    width: auto;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.4rem;
  }
  .nav__link--open:link,
  .nav__link--open:visited {
    justify-content: start;
    margin-bottom: 3rem;
  }
  .nav__list--tab {
    padding: 0;
    margin-top: 0;
    align-items: flex-start;
  }
}
