.header {
  padding: 5.6rem 0;
  position: relative;
}

.header .container {
  width: 100%;
  display: flex;

  justify-content: space-between;
  flex-direction: row;
}

.logo {
}
.logo img {
  height: 3.24rem;
  width: auto;
}
