$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--large-desktop: 100em;

.head {
  background-image: url(../../images/bg-pattern-intro-mobile.svg),
    var(--color-gradiant-red--mobile);
  border-bottom-left-radius: 10rem;

  background-position: 35.5% 33%;
  background-repeat: no-repeat;

  @media (min-width: $media--large-phones) {
    background-size: 200%;
    background-position: 44.5% 39%;
  }

  @media (min-width: $media--tablet) {
    background-image: url(../../images/bg-pattern-intro-mobile.svg),
      var(--color-gradiant-red--desktop);
    background-size: 200%;
    background-position: 22.5% 54%;
  }

  @media (min-width: $media--tablet-landscape) {
    background-image: url(../../images/bg-pattern-intro-desktop.svg),
      var(--color-gradiant-red--desktop);
    background-position: 25.2% 52.18%;
    background-size: 220%;
  }

  @media (min-width: $media--large-desktop) {
    background-position: 24.2% 50.48%;
  }

  .container {
    @media (min-width: $media--large-phones) {
      max-width: 100%;
      padding: 0 4rem;
    }
  }
}
