.head {
  background-image: url(../../images/bg-pattern-intro-mobile.svg),
    var(--color-gradiant-red);
  border-bottom-left-radius: 10rem;

  background-position: 35.5% 33%;
  background-repeat: no-repeat;
}
