.section-hero {
  text-align: center;
  margin-top: 5.6rem;

  &__text {
    color: var(--color-neutral-white);
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--font-family-overpass);
    opacity: 0.8;
    margin-bottom: 4.7rem;
  }

  &__links {
    padding-bottom: 15.6rem;
  }
}
