$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--tesktop: 1400px;
$media--large-desktop: 100em;

.section-hero {
  text-align: center;
  margin-top: 5.6rem;

  &__text {
    color: var(--color-neutral-white);
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--font-family-overpass);
    opacity: 0.8;
    margin-bottom: 4.7rem;

    @media (min-width: $media--tablet-landscape) {
      font-size: 2rem;
    }
  }

  &__links {
    padding-bottom: 15.6rem;
  }
}
