.nav {
}
.btn-nav {
  display: inline-block;
  background: none;
  border: none;
}
.btn-nav--open {
}
.btn-nav--close {
  display: none;
}

.nav--main {
  display: none;
}
.nav__list {
}
.nav__link {
}
.nav__link--open {
}
.nav__list--tab {
}
.nav__link--tab {
}

.nav__login {
}
.nav__link--login {
}
.nav__link--sign {
}
