.nav {
}
.btn-nav {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
}
.btn-nav--open {
}
.btn-nav--close {
  display: none;
  transform: translate(-11%, -3%);
}

.nav-open .btn-nav--open {
  display: none;
}
.nav-open .btn-nav--close {
  display: block;
}

.nav--main {
  font-size: 1.8rem;
  font-family: var(--font-family-overpass);
  font-weight: 600;
  color: var(--color-primary-headings);
  letter-spacing: 0px;

  position: absolute;
  background-color: var(--color-neutral-white);
  // getting it as close as i can to the original design
  left: 2.4rem;
  right: 2.7rem;
  top: 12.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 2rem 4rem rgba($color: hsl(240, 10%, 16%), $alpha: 0.26);
  // Hiding the nav
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all ease-out 400ms;

  z-index: 10;
}
// when mobile nav is open
.nav-open .nav--main {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2.4rem;
  // margin-bottom: 3rem;
  padding: 3.2rem 0;
  padding-bottom: 2.4rem;
  // width: 100%;
  gap: 3rem;

  border-bottom: 1px solid rgba(31, 63, 91, 0.2);
}
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: var(--color-primary-link);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  transition: color ease-out 300ms;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary-link-hover);
}

.nav__list--tab {
  font-size: 1.6rem;
  list-style: none;
  background-color: rgba($color: hsl(240, 2%, 79%), $alpha: 0.3);
  display: none;
  margin-top: 2rem;
  padding: 2.6rem 0;
  padding-bottom: 2.2rem;
  flex-direction: column;
  border-radius: 0.4rem;
  gap: 2rem;
}

.arrow-open {
  transform: rotate(180deg);
}

.tab-open {
  display: flex;
  flex-direction: column;
}

.nav__link--tab:link,
.nav__link--tab:visited {
  color: var(--color-primary-link-hover);
}

.nav__login {
}
.nav__link--login {
}
.nav__link--sign {
}

.nav--footer {
  .nav__list--tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
