$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--large-desktop: 100em;

.btn-nav {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;

  @media (min-width: $media--tablet-landscape) {
    display: none;
  }
}
.btn-nav--close {
  display: none;
  transform: translate(-11%, -3%);
}

.nav-open .btn-nav--open {
  display: none;
}
.nav-open .btn-nav--close {
  display: block;
}

.nav--main {
  font-size: 1.8rem;
  font-family: var(--font-family-overpass);
  font-weight: 600;
  color: var(--color-primary-headings);
  letter-spacing: 0px;

  position: absolute;
  background-color: var(--color-neutral-white);
  // getting it as close as i can to the original design
  left: 2.4rem;
  right: 2.7rem;
  top: 12.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 2rem 4rem rgba($color: hsl(240, 10%, 16%), $alpha: 0.26);
  // Hiding the nav
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all ease-out 400ms;

  z-index: 10;

  @media (min-width: $media--large-phones) {
    right: 2.7rem;
    left: auto;
  }

  // styling of nav when in tablet landscape and larger
  @media (min-width: $media--tablet-landscape) {
    // showing nav
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    // reseting nav
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    background: none;
    box-shadow: none;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
  }

  .nav__link:hover,
  .nav__link:active {
    @media (min-width: $media--tablet-landscape) {
      color: var(--color-neutral-white);
      margin-bottom: -1px;
      border-bottom: 1px solid var(--color-neutral-white);
    }
  }
}
// when mobile nav is open
.nav-open .nav--main {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.lab__link--arrow--dark {
  @media (min-width: $media--tablet-landscape) {
    display: none;
  }
}
.lab__link--arrow--light {
  display: none;
  @media (min-width: $media--tablet-landscape) {
    display: inline-block;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2.4rem;

  padding: 3.2rem 0;
  padding-bottom: 2.4rem;

  gap: 3rem;

  border-bottom: 1px solid rgba(31, 63, 91, 0.2);

  @media (min-width: $media--large-phones) {
    width: 36rem;
  }

  @media (min-width: $media--tablet-landscape) {
    flex-direction: row;
    border: none;
    padding: 0;
    padding-top: 1rem;
    letter-spacing: 0.4px;
  }
}
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: var(--color-primary-link);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-family: var(--font-family-ubuntu);
  transition: color ease-out 300ms;

  @media (min-width: $media--tablet-landscape) {
    color: var(--color-neutral-white);
    opacity: 0.8;
  }
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary-link-hover);
}

.nav__list--tab {
  font-size: 1.6rem;
  list-style: none;
  background-color: rgba($color: hsl(240, 2%, 79%), $alpha: 0.3);
  display: none;
  margin-top: 2rem;
  padding: 2.6rem 0;
  padding-bottom: 2.2rem;
  flex-direction: column;
  border-radius: 0.4rem;
  gap: 2rem;

  @media (min-width: $media--tablet-landscape) {
    position: relative;
    background-color: var(--color-neutral-white);
    padding: 3.2rem 6.4rem 3rem 2.4rem;
    box-shadow: 0 0.6rem 3rem rgba($color: hsl(240, 10%, 16%), $alpha: 0.36);
    margin-top: 2.4rem;
    gap: 1.6rem;
  }
}

.arrow-open {
  transform: rotate(180deg);
}

.nav--main li {
  position: relative;
}

.tab-open {
  display: flex;
  flex-direction: column;

  @media (min-width: $media--tablet-landscape) {
    position: absolute;
    top: 2rem;
    align-items: baseline;
    left: -2.6rem;
    animation: growOut 240ms ease-in-out forwards;
    transform-origin: top center;
  }
}

//  scalse animation
@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nav--main .nav__link--tab:link,
.nav--main .nav__link--tab:visited {
  color: var(--color-primary-link-hover);

  @media (min-width: $media--tablet-landscape) {
    font-family: var(--font-family-ubuntu);
    transition: all ease-out 140ms;
    border: none;
    color: var(--color-neutral-background--footer);
    opacity: 1;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 0px 0px 1px #fff;
  }
}

.nav--main .nav__link--tab:hover,
.nav--main .nav__link--tab:active {
  @media (min-width: $media--tablet-landscape) {
    font-weight: 400;
    border: none;
    padding-bottom: 1px; // to fix the link getting smaller when its hovered
    text-shadow: 0px 0px 1px var(--color-neutral-background--footer);
    color: var(--color-neutral-background--footer);
    opacity: 1;
  }
}

// FOOTER NAV

.nav--footer {
  .nav__list {
    border: none;
    margin: 0 auto;

    @media (min-width: $media--tablet) {
      display: grid;
      gap: 10rem;
      margin: 0 auto;
      width: 60%;
    }
  }

  .nav__link--open:link,
  .nav__link--open:visited {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-neutral-white);
    font-family: var(--font-family-overpass);
  }

  .nav__link--tab:link,
  .nav__link--tab:visited {
    color: var(--color-neutral-gray--light);
    font-size: 1.8rem;
    font-family: var(--font-family-ubuntu);

    // to make sure border is animated
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    transition: all ease-in-out 400ms;
  }

  .nav__link--tab:hover,
  .nav__link--tab:active {
    border-bottom: 1px solid var(--color-neutral-white);
  }

  .nav__list--tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 0.4rem;
    gap: 1.2rem;
  }
}
