:root {
  // Primary colors
  --color-primary-cta: hsl(356, 100%, 66%);
  --color-primary-cta--hover: hsl(355, 100%, 74%);
  --color-primary-headings: hsl(208, 49%, 24%);

  --color-primary-link: hsl(214, 27%, 22%);
  --color-primary-link-hover: hsl(214, 13%, 41%);

  // Neutral colors
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-gray--light: hsl(240, 2%, 79%);
  --color-neutral-body-copy: hsl(207, 13%, 34%);
  --color-neutral-background--footer: hsl(240, 10%, 16%);
  --color-neutral-background-body: #fafafa;

  // Gradinats colors
  --color-gradiant-red--mobile: linear-gradient(
    to bottom,
    rgba(255, 143, 112, 1),
    rgba(255, 61, 84, 1)
  );

  --color-gradiant-red--desktop: linear-gradient(
    to right,
    rgba(255, 143, 112, 1) 10%,
    rgba(255, 61, 84, 1) 64%
  );

  --color-gradiant-blue: linear-gradient(
    to left,
    hsl(237, 23%, 32%),
    hsl(237, 17%, 21%)
  );
}
