// font-family: 'Overpass', sans-serif;
// font-family: 'Ubuntu', sans-serif;

:root {
  --font-family-overpass: "Overpass", sans-serif;
  // Weights: 300, 600
  --font-family-ubuntu: "Ubuntu", sans-serif;
  // - Weights: 400, 500, 700
}

html {
  font-size: 62.5%;
}

.heading {
  font-family: var(--font-family-overpass);
  line-height: 1.2;
  letter-spacing: -1.6px;
}

.heading--primary {
  color: var(--color-neutral-white);
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}

.heading--secondary {
  color: var(--color-primary-headings);
  font-size: 2.8rem;
  margin-top: 10.4rem;
  letter-spacing: -1.1px;
  font-weight: 600;
  margin-bottom: 4.4rem;
}

.heading--tertiary {
  color: var(--color-primary-headings);
  font-size: 2.8rem;
  margin-top: 5.1rem;
  line-height: 1.14;
  letter-spacing: -0.2px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.heading--margin-bottom-sm {
  margin-top: 4.4rem;
  margin-bottom: 2.4rem;
}
