.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family-ubuntu);
  font-weight: 700;
  border-radius: 10rem;
  font-size: 1.6rem;
  padding: 1.4rem 1.6rem;
}

.btn--free:link,
.btn--free:visited {
  color: var(--color-primary-cta);
  background-color: var(--color-neutral-white);
  margin-right: 1.6rem;
  border: 1px solid var(--color-neutral-white);
}

.btn--learn:link,
.btn--learn:visited {
  border: 1px solid var(--color-neutral-white);
  color: var(--color-neutral-white);
  padding: 1.4rem 2.4rem;
}
