$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--tesktop: 1400px;
$media--large-desktop: 100em;

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family-ubuntu);
  font-weight: 700;
  border-radius: 10rem;
  font-size: 1.6rem;
  padding: 1.4rem 1.6rem;

  transition: all ease-out 300ms;
}

.btn--free:link,
.btn--free:visited {
  color: var(--color-primary-cta);
  background-color: var(--color-neutral-white);
  margin-right: 1.6rem;
  border: 1px solid var(--color-neutral-white);
}

.btn--free:hover,
.btn--free:active {
  color: var(--color-neutral-white);
  background-color: var(--color-primary-cta--hover);
  border: 1px solid var(--color-primary-cta--hover);
}

.btn--learn:link,
.btn--learn:visited {
  border: 1px solid var(--color-neutral-white);
  color: var(--color-neutral-white);
  padding: 1.4rem 2.4rem;
}

.btn--learn:hover,
.btn--learn:active {
  color: var(--color-primary-cta);
  background-color: var(--color-neutral-white);
}

.nav__login {
  margin-top: 2rem;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-direction: column;
  font-family: var(--font-family-overpass);

  @media (min-width: $media--tablet-landscape) {
    margin: 0;
    flex-direction: row;
  }
}

.btn--login:link,
.btn--login:visited {
  font-size: 1.8rem;
  font-family: var(--font-family-ubuntu);
  color: var(--color-primary-link);

  transition: color ease-out 300ms;

  @media (min-width: $media--tablet-landscape) {
    color: var(--color-neutral-white);
    opacity: 0.8;
    font-size: 1.6rem;
    font-family: var(--font-family-ubuntu);
    margin-right: 1rem;
    transform: translateY(7%);
  }
}
.btn--login:hover,
.btn--login:active {
  color: var(--color-primary-link-hover);
}

.btn--sign:link,
.btn--sign:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--color-neutral-white);
  background-image: linear-gradient(
    to right,
    rgba(255, 143, 112, 1),
    rgba(255, 61, 84, 1)
  );
  padding: 1.5rem 4rem;
  outline: 1px solid transparent;
  outline-offset: -1px;
  @media (min-width: $media--tablet-landscape) {
    background-image: none;
    background-color: var(--color-neutral-white);
    color: var(--color-primary-cta);
  }
}

.btn--sign:hover,
.btn--sign:active {
  outline: 1px solid var(--color-primary-cta);
  background-image: linear-gradient(to right, #fff, #fff);
  color: var(--color-primary-cta);

  @media (min-width: $media--tablet-landscape) {
    background-image: none;
    background-color: var(--color-primary-cta--hover);
    color: var(--color-neutral-white);
  }
}
