$media--small-phones: 28.75em;
$media--large-phones: 44em;
$media--tablet: 59em;
$media--tablet-landscape: 75em;
$media--large-desktop: 100em;

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr;
  column-gap: 4rem;

  @media (min-width: $media--tablet-landscape) {
    grid-template-columns: 1fr 1fr;
  }
}

.grid--3-cols {
  grid-template-columns: 1fr;

  @media (min-width: $media--tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $media--tablet-landscape) {
    gap: 0rem;
  }
}

.grid--footer {
  grid-template-columns: 1fr;
  @media (min-width: $media--tablet-landscape) {
    grid-template-columns: 1fr 3fr;
  }
}
